/*
 * GLOBAL BODY ELEMENT
 */

// body settings
$body-base-font-size:    12px;
$body-base-color:        $color-brand-primary;
$body-base-font-weight:  normal;
$body-base-line-height:  1.25;
$body-sans-serif-font:   Poppins, "Helvetica Neue", Helvetica, sans-serif;
$body-background-color:  $seashell;

$main-content-spacing: 20px;

$content-max-width: 1400px;
