/*
 * SETTINGS FOR CUSTOM MATERIAL COMPONENTS
 */


/* general settings
 ******************************************************************************/
$mat-control-base-font-size:  13px; // used on buttons and other elements
$mat-control-border-color:    rgba($color-black, .2);
$mat-control-color:           $color-brand-primary;
$mat-control-border-radius:    4px;
